
@using Microsoft.AspNetCore.Mvc.Rendering
@model ConsumerSupport.Models.Requests.AddRequestViewModel


<div>

    @using (Html.BeginForm("Add", "Requests", FormMethod.Post))
    {
        <div>Title:</div>
        @Html.EditorFor(m => m.Title)

        <div>Description:</div>
        @Html.EditorFor(m => m.Description)

        <div>Deadline:</div>
        @Html.EditorFor(m => m.DeadlineDate)

        <div>Deadline:</div>
        @Html.EditorFor(m => m.DeadlineTime)

        <button type="submit">Submit</button>
    }



</div>